<html lang="ptbr" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dicas Perfil</title>
    <style>
      html {
        min-height: 100%;
        position: relative;
      }
      body,
      main {
        height: 100%;
        position: relative;
      }
    </style>
  </head>
  <body class="h-full">
    <main class="max-w-lg mx-auto text-center px-5">
      <slot />
    </main>
  </body>
</html>
