---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<article class="border border-black p-5 sm:my-10 rounded">
  <a href={"/dicas?category=" + title}>
    <h1 class="font-bold uppercase">{title}</h1>
    <slot />
  </a>
</article>
